<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
</ngx-spinner>

<div class="row">
    <div class="col-12 mb-4 data-table-rows">
      <ngx-datatable [rows]="watchListData" [columns]="columns" [columnMode]="ColumnMode.flex" [limit]="itemsPerPage" [headerHeight]="20"
        [footerHeight]="100" #table [sorts]="[{ prop: 'title', dir: 'asc' }]" (select)="onSelect($event)"
        [selected]="selected" [selectionType]="SelectionType.checkbox">
        <ngx-datatable-column name="Name" [flexGrow]="1">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.StockName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ISIN" [flexGrow]="1">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{ row.ISIN }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="StockScore" [flexGrow]="0.8">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{ row.StockScore }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Followed Since" [flexGrow]="1.5">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
             {{row.FollowedSince}}
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  