<!-- <app-list-page-header [displayMode]="displayMode" [itemOptionsPerPage]="[5,10,20]" [itemsPerPage]="itemsPerPage"
  [selectAllState]="selectAllState" (changeDisplayMode)="changeDisplayMode($event)"
  (selectAllChange)="selectAllChange($event)" (itemsPerPageChange)="itemsPerPageChange($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event) " [showAddNewButton]="showAddNewButton">
</app-list-page-header> -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
  </ngx-spinner>
  <div class="row">
    <div class="col-12 projectRevenue mb-1 truncate">
      <div class="card mb-4" style="height: 60px;">
        <span class="headingDesign">Project Management</span>
      </div>
    </div>  
  </div>
  <div class="row">
      <div class="col-12">        
        <div class="card">
            <span class="headingDesign">Projects </span>
            <div class="card-body">
                <div class="row">
                  <div class="col-12 mb-4 data-table-rows">
                    <ngx-datatable [rows]="consultantWorkList" [columns]="columns" [columnMode]="ColumnMode.flex" [limit]="itemsPerPage" [headerHeight]="20"
                      [footerHeight]="100" #table [sorts]="[{ prop: 'title', dir: 'asc' }]" (select)="onSelect($event)"
                      [selected]="selected" [selectionType]="SelectionType.checkbox">
                      <ngx-datatable-column name="Activity" [flexGrow]="1">
                          <ngx-datatable-column name="Activity" [flexGrow]="1">
                              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{ row.Activity }}
                              </ng-template>
                            </ngx-datatable-column>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <!-- <a [routerLink]="['/app/newprojectpricing']" [queryParams]="{projectId:this.projectId}" style="color: darkblue"> 
                            {{row.ClientName}}
                          </a>  -->
                          <!-- <a [attr.href]="row.ProjectURL"  style="color: darkblue"> 
                            {{row.ClientName}}
                          </a>  -->
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Project Name" [flexGrow]="1.8">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          {{ row.ProjectName }}
                        </ng-template>
                      </ngx-datatable-column>
                      <!-- <ngx-datatable-column name="Levant Lead" [flexGrow]="1">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          {{ row.LevantLead }}
                        </ng-template>
                      </ngx-datatable-column> 
                      <ngx-datatable-column name="Location" [flexGrow]="1">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          {{ row.Location }}
                        </ng-template>
                      </ngx-datatable-column> -->
                      <ngx-datatable-column name="StartDate" [flexGrow]="1">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          {{ row.ProjectStartDate }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="EndDate" [flexGrow]="1">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ row.ProjectEndDate }}
                        </ng-template>
                      </ngx-datatable-column>
                      <!-- <ngx-datatable-column name="Capacity" [flexGrow]="1.4">
                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ row.Capacity }} %
                          </ng-template>
                        </ngx-datatable-column> -->
                         
                    
                      <!-- <ngx-datatable-column name="Service Offering" [flexGrow]="1.8">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          {{ row.ServiceOffering }}
                        </ng-template>
                      </ngx-datatable-column> -->
                      <!-- <ngx-datatable-column name="Total Revenue" [flexGrow]="1">
                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ row.TotalRevenue }}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Created Date" [flexGrow]="1.4">
                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{ row.CreatedDate }}
                          </ng-template>
                        </ngx-datatable-column>   -->
                        <ngx-datatable-footer>
                          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-limit="limit">
                            <div class="w-100 d-flex justify-content-center">
                              <pagination [totalItems]="rowCount" [itemsPerPage]="pageSize" [maxSize]="5"
                                (pageChanged)="table.onFooterPage($event)"
                                [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
                              </pagination>
                            </div>
                          </ng-template>
                        </ngx-datatable-footer>
                      </ngx-datatable>
                      <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
                        <i class='simple-icon-arrow-right'></i>
                      </ng-template>
                      <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
                        <i class='simple-icon-arrow-left'></i>
                      </ng-template>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>
    


    <div class="row"  style="margin-top: 2%;">
      <div class="col-12">        
          <div class="card">
            <span class="headingDesign">Manage Leave</span>
              <div class="card-body">
                <div class="row"  >
                  <div class="col-12 mb-3 data-table-rows" >
                    <ngx-datatable [rows]="leavesList"  [rowHeight]="50" [columns]="leavesColumns" [columnMode]="ColumnMode.flex" [limit]="itemsPerPage" [headerHeight]="30"
                      [footerHeight]="100" #table [sorts]="[{ prop: 'title', dir: 'asc' }]" (select)="onSelect($event)"
                      [selected]="selected" [selectionType]="SelectionType.checkbox">
                      <ngx-datatable-column   name="LeaveType" [flexGrow]="0.4">
                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <select id="LeaveType" class="form-control" 
                          [(ngModel)]="row.LeaveType"
                          (change)="updateUser($event, 'LeaveType', rowIndex)"  >
                            <option selected>{{ 'input-groups.choose' | translate }}</option>
                            <option *ngFor="let leave of leaveType" [value]="leave.LeaveType" >
                              {{leave.LeaveType}}
                            </option>
                          </select>
                        </ng-template>
                      </ngx-datatable-column>
                        <ngx-datatable-column  name="StartDate" [flexGrow]="0.4">
                          <ng-template  let-column="column" ngx-datatable-header-template>
                              <span >Start Date</span>
                          </ng-template>
                          <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                              <input
                              style="width: 90%;height: 38px;"
                              autofocus
                              (blur)="updateUser($event, 'StartDate', rowIndex)"
                              type="date"
                              [(ngModel)]="row.StartDate"
                              [value]="value"
                            />
                          </ng-template>
                        </ngx-datatable-column> 
                        <ngx-datatable-column  name="EndDate" [flexGrow]="0.4">
                          <ng-template  let-column="column" ngx-datatable-header-template>
                              <span >End Date</span>
                          </ng-template>
                          <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                              <input
                              style="width: 90%;height: 38px;"
                              autofocus
                              (blur)="updateUser($event, 'EndDate', rowIndex)"
                              type="date"
                              [(ngModel)]="row.EndDate"
                              [value]="value"
                            />
                          </ng-template>
                        </ngx-datatable-column> 
                        <ngx-datatable-column  name="Duration" [flexGrow]="0.2">
                          <ng-template  let-column="column" ngx-datatable-header-template>
                              <span >Duration</span>
                          </ng-template>
                          <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                              {{row.Duration}}
                          </ng-template>
                        </ngx-datatable-column> 
                        <ngx-datatable-column  name="Reason" [flexGrow]="0.6">
                          <ng-template  let-column="column" ngx-datatable-header-template>
                              <span >Reason</span>
                          </ng-template>
                          <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                              <input
                              style="width: 90%;height: 38px;"
                              autofocus
                              (blur)="updateUser($event, 'Reason', rowIndex)"
                              type="text"
                              [(ngModel)]="row.Reason"
                              [value]="value"
                            />
                          </ng-template>
                        </ngx-datatable-column> 
                        <ngx-datatable-column name="" [flexGrow]="0.2">
                          <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template> 
                              <i class="material-icons" style="color: red;" (click)="deleteRow(rowIndex)">delete</i>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="" [flexGrow]="0.2">
                          <ng-template   let-column="column" ngx-datatable-header-template>
                            <i  class="material-icons" style="color:green;margin-left:-15px" (click)="addRow() ">add_circle</i>
                          </ng-template>
                          <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template> 
                              <i class="material-icons" style="color:green;margin-left:-15px" (click)="addRow() ">add_circle</i>
                          </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>  
                    <i class="material-icons" style="margin-left:-20px !important;color:green;font-size: xxx-large" (click)="manageLeaves()">save</i>       
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
