
<div class="row">
    <div class="col-12">
      <div>
      </div>
  
      <div>
        <tabset class="separator-tabs">
  
          <tab heading="{{'pages.profile' | translate | uppercase }}">
                <app-profile></app-profile>
          </tab>
  
          <tab heading="{{'pages.projects' | translate | uppercase }}">
           <app-projects></app-projects>
          </tab>
          <tab *ngIf ="isPricingAccess" heading="{{'pages.pricing-files' | translate | uppercase }}">
            <app-pricingfiles></app-pricingfiles>
          </tab>
          <!-- <tab heading="Schedule">
            
            <app-schedule></app-schedule>
           </tab> -->
        </tabset>
      </div>
  
    </div>
  </div>
  