.fieldsHeading{
    font-weight: bolder;
}

.image-preview {
    margin-top: 10px;
    max-width: 300px;
  }
  
  .image-preview img {
    max-width: 100%;
  }
  
  .projectRevenue {
    font-size: 1.2rem;
font-weight: bold;
}

.headingDesign {
    font-weight: bold;
    font-size: large;
    margin-left: 50px;
    margin-top: 20px;
    color: blueviolet;
  }