USE [Dashdb]
GO
/****** Object:  User [admin]    Script Date: 27-06-2023 00:10:09 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  UserDefinedTableType [dbo].[AssetsOverview]    Script Date: 27-06-2023 00:10:09 ******/
CREATE TYPE [dbo].[AssetsOverview] AS TABLE(
	[Product] [nvarchar](max) NULL,
	[BankAccount] [int] NULL,
	[StockEtf] [int] NULL
)
GO
/****** Object:  Table [dbo].[Client]    Script Date: 27-06-2023 00:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[client_id] [int] IDENTITY(1,1) NOT NULL,
	[client_name] [varchar](60) NOT NULL,
	[client_organistation] [varchar](60) NOT NULL,
	[client_location] [varchar](60) NULL,
	[client_country] [varchar](300) NULL,
	[client_mail] [varchar](60) NULL,
	[client_contactno] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultant]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultant](
	[consultant_id] [int] NOT NULL,
	[consultant_workdays] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[consultant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantEffort]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantEffort](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_role] [varchar](60) NOT NULL,
	[level_id] [int] NOT NULL,
	[consultant_name] [varchar](60) NOT NULL,
	[billable] [varchar](60) NOT NULL,
	[applied_rate] [money] NOT NULL,
	[discount] [money] NOT NULL,
	[contract_type] [varchar](60) NULL,
	[levant_cost] [money] NULL,
	[total_cost] [money] NULL,
	[client_rate] [money] NULL,
	[contract_percent] [int] NULL,
	[project_start_date] [date] NOT NULL,
	[project_end_date] [date] NOT NULL,
	[capacity_percent] [int] NOT NULL,
	[days_perweek] [decimal](18, 0) NOT NULL,
	[total_days] [decimal](18, 0) NOT NULL,
	[subtotal] [money] NULL,
	[delivery_cost] [money] NULL,
	[cost_tosell] [money] NULL,
	[total_discount] [money] NULL,
	[gross_profit] [money] NOT NULL,
	[cost_per_week] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Errors]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[error_description] [nvarchar](max) NULL,
	[created_date] [varchar](60) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseEstimate]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseEstimate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [varchar](60) NOT NULL,
	[expense_type] [varchar](60) NULL,
	[expense_description] [varchar](60) NULL,
	[billable_percent] [int] NULL,
	[unit_cost] [money] NULL,
	[quantity] [int] NULL,
	[levant_cost] [money] NULL,
	[client_cost] [money] NULL,
	[subtotal] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseType]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseType](
	[expense_id] [int] IDENTITY(1,1) NOT NULL,
	[expense_type] [varchar](60) NOT NULL,
	[expense_description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[expense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leaves]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leaves](
	[user_id] [int] NOT NULL,
	[duration] [int] NULL,
	[leave_type] [varchar](60) NULL,
	[reason] [varchar](120) NULL,
	[start_date] [nvarchar](60) NULL,
	[end_date] [nvarchar](60) NULL,
	[UserName] [varchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectDetails]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [varchar](60) NOT NULL,
	[project_name] [varchar](60) NULL,
	[client_name] [varchar](60) NULL,
	[location] [varchar](60) NULL,
	[project_stage] [varchar](60) NULL,
	[project_start_date] [nvarchar](60) NULL,
	[project_end_date] [nvarchar](60) NULL,
	[service_type] [varchar](60) NULL,
	[sales_lead] [varchar](60) NULL,
	[engagement_lead] [varchar](60) NULL,
	[delivery_lead] [varchar](60) NULL,
	[created_date] [nvarchar](60) NULL,
	[total_revenue] [money] NULL,
	[total_cost] [money] NULL,
	[total_expense] [money] NULL,
	[total_profitability] [int] NULL,
	[total_profit] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rates]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rates](
	[rate_id] [int] IDENTITY(1,1) NOT NULL,
	[level] [varchar](60) NOT NULL,
	[level_id] [int] NOT NULL,
	[rack_rate] [money] NOT NULL,
	[cost_rate] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceEstimate]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceEstimate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [varchar](60) NULL,
	[project_role] [varchar](60) NULL,
	[level] [varchar](60) NULL,
	[consultant] [varchar](60) NULL,
	[billable] [varchar](60) NULL,
	[applied_rate] [money] NULL,
	[contract_type] [varchar](60) NULL,
	[levant_cost] [money] NULL,
	[client_rate] [money] NULL,
	[start_date] [nvarchar](60) NULL,
	[end_date] [nvarchar](60) NULL,
	[capacity] [int] NULL,
	[rack_rate] [money] NULL,
	[cost_rate] [money] NULL,
	[discount] [money] NULL,
	[total_cost] [money] NULL,
	[contract_percent] [money] NULL,
	[sub_total] [money] NULL,
	[delivery_cost] [money] NULL,
	[cost_tosell] [money] NULL,
	[total_discount] [money] NULL,
	[gross_profit] [money] NULL,
	[working_days] [money] NULL,
	[ActualWorkingDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SelectedServiceType]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectedServiceType](
	[project_id] [varchar](60) NULL,
	[code] [varchar](60) NULL,
	[name] [varchar](60) NULL,
	[user_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceType]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceType](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[service_type] [varchar](60) NOT NULL,
	[service_description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_level]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_level](
	[level_id] [int] NOT NULL,
	[level_name] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27-06-2023 00:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[reg_user_name] [varchar](40) NOT NULL,
	[user_password] [varchar](50) NOT NULL,
	[user_mail] [varchar](40) NOT NULL,
	[user_reg_date] [nvarchar](120) NULL,
	[level_id] [int] NOT NULL,
	[user_level_until] [date] NOT NULL,
	[user_guided] [int] NOT NULL,
	[user_country] [varchar](300) NULL,
	[verification_code] [int] NULL,
	[activated] [varchar](60) NULL,
	[verificationcode_expiry] [datetimeoffset](7) NULL,
	[is_admin] [varchar](20) NULL,
	[level] [varchar](60) NULL,
	[mobile_no] [varchar](20) NULL,
	[work_schedule] [int] NULL,
	[biodata_type] [nvarchar](60) NULL,
	[biodata_content] [varbinary](60) NULL,
	[profile_image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([client_id], [client_name], [client_organistation], [client_location], [client_country], [client_mail], [client_contactno]) VALUES (1, N'Baden Roberts', N'Pemba Platinum Group', N'East Coast Sydney', N'Australia', N'badenroberts@pemba.com', N'(02) 9123-4567')
INSERT [dbo].[Client] ([client_id], [client_name], [client_organistation], [client_location], [client_country], [client_mail], [client_contactno]) VALUES (2, N'Andy Sullivan', N'Cisco Corp', N'12th Down Street Melbourne', N'Australia', N'andysullivan@cisco.com', N'(02) 9678-4567')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
INSERT [dbo].[Consultant] ([consultant_id], [consultant_workdays]) VALUES (2, 5)
INSERT [dbo].[Consultant] ([consultant_id], [consultant_workdays]) VALUES (3, 5)
INSERT [dbo].[Consultant] ([consultant_id], [consultant_workdays]) VALUES (4, 5)
GO
SET IDENTITY_INSERT [dbo].[ConsultantEffort] ON 

SET IDENTITY_INSERT [dbo].[ConsultantEffort] OFF
GO
SET IDENTITY_INSERT [dbo].[Errors] ON 

INSERT [dbo].[Errors] ([id], [error_description], [created_date]) VALUES (1, N'String was not recognized as a valid DateTime.', N'05-06-2023 23:57:33')
INSERT [dbo].[Errors] ([id], [error_description], [created_date]) VALUES (2, N'String was not recognized as a valid DateTime.', N'6/5/2023 6:39:32 PM')
INSERT [dbo].[Errors] ([id], [error_description], [created_date]) VALUES (3, N'String was not recognized as a valid DateTime.', N'6/5/2023 6:39:50 PM')
SET IDENTITY_INSERT [dbo].[Errors] OFF
GO
SET IDENTITY_INSERT [dbo].[ExpenseEstimate] ON 

INSERT [dbo].[ExpenseEstimate] ([id], [project_id], [expense_type], [expense_description], [billable_percent], [unit_cost], [quantity], [levant_cost], [client_cost], [subtotal]) VALUES (1, N'4b7d0b05-4b2a-479f-83cc-01f66fa172f5', N'Flight', N'Melbourne To Sydney ticket', 80, 300.0000, 2, 0.0000, 0.0000, 0.0000)
INSERT [dbo].[ExpenseEstimate] ([id], [project_id], [expense_type], [expense_description], [billable_percent], [unit_cost], [quantity], [levant_cost], [client_cost], [subtotal]) VALUES (2, N'bb3045e1-37be-4809-bf17-afeb3d82aa5b', N'Flight', N'Flight from Sydney to Melbourne', 80, 1000.0000, 2, 0.0000, 0.0000, 0.0000)
INSERT [dbo].[ExpenseEstimate] ([id], [project_id], [expense_type], [expense_description], [billable_percent], [unit_cost], [quantity], [levant_cost], [client_cost], [subtotal]) VALUES (3, N'bab7c190-94ca-4ff5-afa9-9fe0b2472149', N'Flight', N'Flight from Sydney to Melbourne', 80, NULL, 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ExpenseEstimate] OFF
GO
SET IDENTITY_INSERT [dbo].[ExpenseType] ON 

INSERT [dbo].[ExpenseType] ([expense_id], [expense_type], [expense_description]) VALUES (41, N'Flights', N'Flights Expenses To and Fro')
INSERT [dbo].[ExpenseType] ([expense_id], [expense_type], [expense_description]) VALUES (42, N'Accommodation', N'Hotel Stay Cost for Business')
INSERT [dbo].[ExpenseType] ([expense_id], [expense_type], [expense_description]) VALUES (43, N'Taxi/Uber', N'Transport Cost by Taxi Uber ')
SET IDENTITY_INSERT [dbo].[ExpenseType] OFF
GO
INSERT [dbo].[Leaves] ([user_id], [duration], [leave_type], [reason], [start_date], [end_date], [UserName]) VALUES (16, 1, N'Planned', N'Planned Leave', N'2023-07-25', N'2023-07-25', N'Sunny Kumar')
INSERT [dbo].[Leaves] ([user_id], [duration], [leave_type], [reason], [start_date], [end_date], [UserName]) VALUES (16, 1, N'Planned', N'PLanned Leave', N'2023-08-01', N'2023-08-01', N'Sunny Kumar')
INSERT [dbo].[Leaves] ([user_id], [duration], [leave_type], [reason], [start_date], [end_date], [UserName]) VALUES (16, 13, N'Paternity', N'Going for Paternity Leave', N'2023-06-20', N'2023-07-06', N'Sunny Kumar')
GO
SET IDENTITY_INSERT [dbo].[ProjectDetails] ON 

INSERT [dbo].[ProjectDetails] ([id], [project_id], [project_name], [client_name], [location], [project_stage], [project_start_date], [project_end_date], [service_type], [sales_lead], [engagement_lead], [delivery_lead], [created_date], [total_revenue], [total_cost], [total_expense], [total_profitability], [total_profit]) VALUES (203, N'e18f70c9-fd14-4c45-9c2f-946c955dcbc5', N'Test 1', N'Test 1 Client', N'Sydney', N'Won', N'2023-07-03', N'2023-09-01', NULL, N'Fadi Zeitoune', N'Fadi Zeitoune', N'Anna Mevel', N'Jun 26 2023  4:48PM', 299250.0000, 215586.0000, 3500.0000, 28, 83664.0000)
SET IDENTITY_INSERT [dbo].[ProjectDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Rates] ON 

INSERT [dbo].[Rates] ([rate_id], [level], [level_id], [rack_rate], [cost_rate]) VALUES (125, N'FY24 Manager', 1, 2350.0000, 1200.0000)
INSERT [dbo].[Rates] ([rate_id], [level], [level_id], [rack_rate], [cost_rate]) VALUES (126, N'FY24 Senior Associate', 1, 1950.0000, 1050.0000)
INSERT [dbo].[Rates] ([rate_id], [level], [level_id], [rack_rate], [cost_rate]) VALUES (127, N'FY24 Associate', 1, 1500.0000, 798.0000)
SET IDENTITY_INSERT [dbo].[Rates] OFF
GO
SET IDENTITY_INSERT [dbo].[ResourceEstimate] ON 

SET IDENTITY_INSERT [dbo].[ResourceEstimate] OFF
GO
INSERT [dbo].[SelectedServiceType] ([project_id], [code], [name], [user_id]) VALUES (N'b4d629ba-2886-417e-99e0-4d766c63a7e9', N'UXImprovement', N'UX/Process Improvement', NULL)
INSERT [dbo].[SelectedServiceType] ([project_id], [code], [name], [user_id]) VALUES (N'b4d629ba-2886-417e-99e0-4d766c63a7e9', N'OrganistationDevelopment', N'Organistation Development', NULL)
INSERT [dbo].[SelectedServiceType] ([project_id], [code], [name], [user_id]) VALUES (N'b4d629ba-2886-417e-99e0-4d766c63a7e9', N'HRTransformation', N'HR Transformation', NULL)
GO
SET IDENTITY_INSERT [dbo].[ServiceType] ON 

INSERT [dbo].[ServiceType] ([service_id], [service_type], [service_description]) VALUES (12, N'Change Management', N'Change Management')
INSERT [dbo].[ServiceType] ([service_id], [service_type], [service_description]) VALUES (13, N'Organisation Design', N'Organisation Design')
INSERT [dbo].[ServiceType] ([service_id], [service_type], [service_description]) VALUES (14, N'Strategic Change', N'Strategic Change')
SET IDENTITY_INSERT [dbo].[ServiceType] OFF
GO
INSERT [dbo].[user_level] ([level_id], [level_name]) VALUES (0, N'Basic')
INSERT [dbo].[user_level] ([level_id], [level_name]) VALUES (1, N'Intermediate')
INSERT [dbo].[user_level] ([level_id], [level_name]) VALUES (2, N'Advanced')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ResourceEstimate]  WITH NOCHECK ADD  CONSTRAINT [FK_ResourceEstimate_ProjectDetails] FOREIGN KEY([project_id])
REFERENCES [dbo].[ProjectDetails] ([project_id])
GO
ALTER TABLE [dbo].[ResourceEstimate] CHECK CONSTRAINT [FK_ResourceEstimate_ProjectDetails]
GO
/****** Object:  StoredProcedure [dbo].[FetchProjectDetailsById]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROCEDURE [dbo].[FetchProjectDetailsById]    
(@projectId nvarchar(200))      
AS       
BEGIN        
 BEGIN TRY      
  BEGIN TRANSACTION      
      
  Select project_name as ProjectName, client_name as ClientName, location as Location, project_stage as Stage, project_start_date as StartDate, project_end_date as EndDate,service_type as ServiceType,sales_lead as SalesLead,   
  engagement_lead as EngagementLead,delivery_lead as DeliveryLead from ProjectDetails where project_id =@projectId;    
  Select code as ServiceType,name as ServiceDescription from SelectedServicetype where project_id =@projectId;    
  Select project_id as ProjectId,project_role as ProjectRole,level as Level,consultant as Consultant,billable as Billable,applied_Rate as AppliedRate,contract_type as ContractType,levant_cost as LevantCost,client_rate as ClientRate,start_date as StartDate
  
,end_date as EndDate,capacity as Capacity,rack_rate as RackRate,cost_rate as CostRate,discount as Discount,total_cost as TotalCost,contract_percent as ContractPercent,sub_total as SubTotal,delivery_cost as DeliveryCost,cost_tosell as CostTosell,total_discount as TotalDiscount,gross_profit as GrossProfit,working_days as WorkingDays,ActualWorkingDays  from ResourceEstimate where project_id =@projectId;    
  Select expense_type as ExpenseType,expense_description as Description,billable_percent as Billable, unit_cost as UnitCost,quantity as  Number,levant_cost as LevantCost,client_cost as ClientCost,subtotal as Subtotal from ExpenseEstimate where project_id 
  
=@projectId;    
    
          
  COMMIT;      
 END TRY      
      
 BEGIN CATCH      
 IF @@TRANCOUNT > 0      
 BEGIN      
   ROLLBACK      
 END;      
 EXECUTE [dbo].[spOnException]      
 END CATCH      
END      
GO
/****** Object:  StoredProcedure [dbo].[spActivateAccount]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActivateAccount]
(
@UserEmail VARCHAR(40),
@VerCode INT,
@currentTime Datetimeoffset,
@Return INT output
)
AS 
BEGIN
	BEGIN TRY 
		BEGIN TRANSACTION
		IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail)
		BEGIN 
			IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail and activated =0)
			BEGIN
				IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail and @currentTime < verificationcode_expiry and verification_code = @VerCode)
				BEGIN
					Update Users set activated = 1 where user_mail = @UserEmail;
					SET @Return = 1;
				END
				ELSE
				BEGIN
					SET @Return = 4;
				END
			END
			ELSE
			BEGIN
				SET @Return = 3;
			END
		END
		ELSE 
		BEGIN
		  SET @Return = 2;
		END
		COMMIT;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	RETURN @Return
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spFetchTeamAllocations]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFetchTeamAllocations]            
AS                         
BEGIN                          
 BEGIN TRY             
              
  SELECT          
TOP 1          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week1],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 0, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week2],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 1, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week3],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 2, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week4],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 3, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week5],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 4, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week6],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 5, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week7],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 6, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week8],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 7, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week9],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 8, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week10],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 9, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week11],          
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 10, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week12]          
FROM          
    sys.objects          
        
        
 Select res.consultant,proj.project_name,res.start_Date,res.end_date,proj.project_stage as ProjectStage from Resourceestimate res inner join ProjectDetails proj on res.project_id = proj.project_id        
 Union  
 Select UserName,Concat(leave_type,' leave'),start_date,end_date,'Leave' from Leaves   
  
 Select reg_user_name as UserName,profile_image as ProfileImage from Users      
      
        
        
                        
 END TRY                      
              
                       
 BEGIN CATCH                        
 IF @@TRANCOUNT > 0                        
 BEGIN                        
   ROLLBACK                        
 END;                        
 EXECUTE [dbo].[spOnException]                        
 END CATCH                        
END 
GO
/****** Object:  StoredProcedure [dbo].[spFetchWeekDates]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFetchWeekDates]      
(@UserId int)    
AS                     
BEGIN                      
 BEGIN TRY         
 
 DECLARE @Consultant varchar(60);
  SELECT            
TOP 1            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week1],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 0, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week2],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 1, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week3],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 2, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week4],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 3, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week5],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 4, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week6],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 5, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week7],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 6, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week8],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 7, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week9],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 8, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week10],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 9, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week11],            
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 10, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week12]            
FROM            
    sys.objects            
          
Select @Consultant = reg_user_name from Users where user_id = @UserId
          
 Select res.consultant,proj.project_name,res.start_Date,res.end_date,proj.project_stage as ProjectStage from Resourceestimate res inner join ProjectDetails proj on res.project_id = proj.project_id 
 where res.consultant = @Consultant  
 Union
 Select UserName,Concat(leave_type,' leave'),start_date,end_date,'Leave' from Leaves
 where UserName = @Consultant

 
    
 Select reg_user_name as UserName,profile_image as ProfileImage from Users  
 where user_id = @UserId
        
    
                    
 END TRY                  
          
                   
 BEGIN CATCH                    
 IF @@TRANCOUNT > 0                    
 BEGIN                    
   ROLLBACK                    
 END;                    
 EXECUTE [dbo].[spOnException]                    
 END CATCH                    
END 

GO
/****** Object:  StoredProcedure [dbo].[spGetPrivateStock]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetPrivateStock](
@UserId VARCHAR(40),
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			Select  st.stock_name as StockName,st.ISIN as ISIN,st.stock_score as StockScore,ws.user_watch_since as FollowedDate from stock st inner join
			watch_stock ws on st.ISIN = ws.ISIN
			and ws.user_id = @UserId

			Select * from goal where user_id = @UserId
		COMMIT;
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spGetRate]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetRate]      
AS       
BEGIN        
 BEGIN TRY      
  BEGIN TRANSACTION      
   Select level_id as LevelId,level As Level,rack_rate as RackRate,cost_rate as CostRate from Rates    
  
            
   Select user_id as ConsultantId,reg_user_name as UserName,user_mail as UserEmail,work_schedule as ConsultantWorkdays from Users

   Select expense_type as ExpenseType,expense_description as ExpenseDescription from ExpenseType  
  
   Select service_type as ServiceType,service_description as ServiceDescription from ServiceType  
  COMMIT;      
 END TRY      
      
 BEGIN CATCH      
 IF @@TRANCOUNT > 0      
 BEGIN      
   ROLLBACK      
 END;      
 EXECUTE [dbo].[spOnException]      
 END CATCH      
END 
GO
/****** Object:  StoredProcedure [dbo].[spListProjects]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListProjects]        
AS         
BEGIN          
 BEGIN TRY        
  BEGIN TRANSACTION      
  Select 
  prj.project_id as ProjectId,
  prj.client_name as ClientName,prj.project_name as ProjectName,      
  '/app/newprojectpricing?projectId='+prj.project_id as ProjectURL,      
   prj.project_start_date as ProjectStartDate,prj.project_end_date as ProjectEndDate,prj.project_stage as Status,        
   prj.service_type as ServiceOffering,prj.sales_lead as LevantLead,2000 as Amount,      
   prj.location as Location,prj.location as Country,prj.created_date as CreatedDate,  
   prj.total_revenue as TotalRevenue  
   from ProjectDetails prj    
  COMMIT;        
 END TRY        
        
 BEGIN CATCH        
 IF @@TRANCOUNT > 0        
 BEGIN        
   ROLLBACK        
 END;        
 EXECUTE [dbo].[spOnException]        
 END CATCH        
END 
GO
/****** Object:  StoredProcedure [dbo].[spListStocks]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListStocks]
(
@UserId VARCHAR(40)
)
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			SELECT st.ID,ws.isBookmarked,st.stock_name as StockName,st.ISIN as ISIN,
			'app/stockanalysis?stock='+st.ISIN as SearchUrl,
			st.exchange as Exchange,st.stock_score as StockScore, bsc.stock_basics_industry as Industry,st.stock_Marktkap_rounded as MarketCapRounded,st.stock_waehrung as Currency,bsc.stock_basics_country as Country  from dbo.stock st
			LEFT OUTER JOIN dbo.basics bsc on st.ISIN = bsc.ISIN 
			LEFT OUTER JOIN dbo.watch_stock ws on ws.ISIN = st.ISIN and ws.user_id = 2  order by ws.isBookmarked desc,st.stock_name;

		COMMIT;
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spListUsers]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListUsers]              
AS               
BEGIN                
 BEGIN TRY              
  BEGIN TRANSACTION       
  Select usr.reg_user_name as UserName,usr.user_id as UserId, usr.user_mail as UserEmail,    
  usr.mobile_no as MobileNo,usr.work_schedule as WorkSchedule,usr.biodata_type as BiodataType,usr.biodata_content as BioConent,     
   usr.user_reg_date as UserRegDate,      
  usr.level as Level,usr.is_admin as IsAdmin,usr.activated as IsActivated,      
  usr.user_country as Location,      
  rate.rack_rate as RackRate,rate.cost_rate as CostRate,profile_image as ProfileImage      
  from Users usr left join Rates rate on usr.level = rate. level     
      order by usr.user_reg_date desc

  Select user_id as UserId,code as ServiceType,name as ServiceDescription from SelectedServicetype where user_id is not null    
  COMMIT;              
 END TRY            
    
             
 BEGIN CATCH              
 IF @@TRANCOUNT > 0              
 BEGIN              
   ROLLBACK              
 END;              
 EXECUTE [dbo].[spOnException]              
 END CATCH              
END 
GO
/****** Object:  StoredProcedure [dbo].[spListUserWork]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListUserWork](  
@consultant varchar(60) 
)          
AS           
BEGIN            
 BEGIN TRY          
  BEGIN TRANSACTION          
 Select proj.project_stage as Activity,proj.project_name as ProjectName,res.start_date as ProjectStartDate,res.end_date as ProjectEndDate,   
 res.capacity as Capacity,res.working_days as WorkingDays from ResourceEstimate res inner join ProjectDetails proj  
 on res.project_id = proj.project_id  
 where res.consultant = @consultant      

 Select * from leaves where user_id = (Select TOP 1 user_id from Users where reg_user_name =  @consultant )

  COMMIT;          
 END TRY          
          
 BEGIN CATCH          
 IF @@TRANCOUNT > 0          
 BEGIN          
   ROLLBACK          
 END;          
 EXECUTE [dbo].[spOnException]          
 END CATCH          
END   

GO
/****** Object:  StoredProcedure [dbo].[spOnException]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spOnException]
AS
SELECT 
    ERROR_NUMBER() AS ErrorNumber,
	ERROR_SEVERITY() AS ErrorSeverity,
	ERROR_STATE() AS ErrorState,
	ERROR_PROCEDURE() AS ErrorProcedure,
	ERROR_LINE() AS ErrorLine,
	ERROR_MESSAGE() AS ErrorMessage;
GO
/****** Object:  StoredProcedure [dbo].[spRegisterUser]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRegisterUser]    
(    
@UserName VARCHAR(40),    
@UserPassword VARCHAR(50),    
@UserEmail VARCHAR(40),    
@UserCountry VARCHAR(300),    
@Vercode INT,    
@VercodeExpirationDttm Datetimeoffset,    
@Return INT output    
)    
AS     
BEGIN    
 BEGIN TRY    
  BEGIN TRANSACTION    
  IF NOT EXISTS(SELECT 1 from Users where user_mail = @UserEmail)    
  BEGIN     
   INSERT INTO Users (reg_user_name,user_password,user_mail,user_reg_date,level_id,user_level_until,user_guided,user_country,activated,verification_code,verificationcode_expiry,is_admin)    
   VALUES(@UserName,@UserPassword,@UserEmail,GETDATE(),0,format(GETDATE(),'yyyyMMdd'),1,@UserCountry,'True',@Vercode,@VercodeExpirationDttm,'False');    
   SET @Return = 1;    
  END    
  ELSE     
  BEGIN    
    SET @Return = 2;    
  END    
  COMMIT;    
 SELECT @Return;    
 RETURN @Return    
 END TRY    
    
 BEGIN CATCH    
 IF @@TRANCOUNT > 0    
 BEGIN    
   ROLLBACK    
 END;    
 EXECUTE [dbo].[spOnException]    
    SET @Return = 0;    
 SELECT @Return;    
 RETURN @Return    
 END CATCH    
END    

GO
/****** Object:  StoredProcedure [dbo].[spResetPassword]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spResetPassword]
(
@NewPassword VARCHAR(50),
@Vercode INT,
@UserEmail VARCHAR(40),
@currentTime Datetimeoffset,
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
		IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail)
		BEGIN 
			IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail AND verification_code = @Vercode)
			BEGIN
				IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail and @currentTime < verificationcode_expiry)
				BEGIN
					UPDATE Users set user_password = @NewPassword where user_mail = @UserEmail
				SET @Return = 1
				END
				ELSE
				BEGIN
					SET @Return = 4
				END
			END
			ELSE
			BEGIN
				SET @Return = 3
			END
		END
		ELSE 
		BEGIN
		  SET @Return = 2;
		END
		COMMIT;
	SELECT @Return;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	SELECT @Return;
	RETURN @Return
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spResetPasswordVerification]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spResetPasswordVerification]
(
@UserEmail VARCHAR(40),
@Vercode INT,
@VercodeExpirationDttm Datetimeoffset,
@Return INT output
)
AS 
BEGIN
	BEGIN TRY 
		BEGIN TRANSACTION 
		IF EXISTS(SELECT 1 from Users where user_mail =  @UserEmail)
		BEGIN 
			IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail and activated=1 )
			BEGIN
				Update Users set verification_code = @Vercode,verificationcode_expiry = @VercodeExpirationDttm where user_mail = @UserEmail;
				SET @Return = 1;
			END
			ELSE 
			BEGIN
				Update Users set verification_code = @Vercode,verificationcode_expiry = @VercodeExpirationDttm where user_mail = @UserEmail
				SET @Return = 3;
			END
		END
		ELSE 
		BEGIN
		  SET @Return = 2;
		END
		COMMIT;
	SELECT @Return;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	SELECT @Return;
	RETURN @Return
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spSalesForecast]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSalesForecast]            
AS             
BEGIN              
 BEGIN TRY            
  
  With CTE AS(  
SELECT id,   
    DATENAME(month, DATEADD(month, number, project_start_date)) AS MonthName,project_id,project_stage,total_revenue,total_revenue/(ABS(DATEDIFF(MONTH, project_start_date, project_end_date))+1) AS MonthlyRevenue  
FROM ProjectDetails   
CROSS APPLY (  
    SELECT number  
    FROM master..spt_values  
    WHERE type = 'P' AND number <= DATEDIFF(month, project_start_date, project_end_date)  
) AS Numbers  
)  
Select SUM(MonthlyRevenue) as TotalMonthlyRevenue,MonthName as MonthName,project_stage as ProjectStage from CTE  
Group by MonthName,project_stage having project_stage in ('Qualified','Proposed','Won') order by MonthName  

            
 END TRY          
  
           
 BEGIN CATCH            
 IF @@TRANCOUNT > 0            
 BEGIN            
   ROLLBACK            
 END;            
 EXECUTE [dbo].[spOnException]            
 END CATCH            
END 
GO
/****** Object:  StoredProcedure [dbo].[spSaveAssets]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSaveAssets]
(
@UserId VARCHAR(40),
@Month NVARCHAR(max),
@Year NVARCHAR(max),
@Assets  dbo.AssetsOverview readonly,
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
	Select * from goal

		BEGIN TRANSACTION
		IF NOT EXISTS(SELECT 1 from goal where user_id = @UserId)
		BEGIN 
			
			SET @Return = 1;
		END
		ELSE 
		BEGIN
		  
		  SET @Return = 2;
		END
		COMMIT;
	SELECT @Return;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	SELECT @Return;
	RETURN @Return
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spSaveUserGoal]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSaveUserGoal]
(
@UserId VARCHAR(40),
@UserAnnualAsset NVARCHAR(max),
@UserLongTermGoal NVARCHAR(max),
@UserMotivationalGoal NVARCHAR(max),
@UserSavingRate NVARCHAR(max),
@UserSavingsVolume NVARCHAR(max),
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
	Select * from goal

		BEGIN TRANSACTION
		IF NOT EXISTS(SELECT 1 from goal where user_id = @UserId)
		BEGIN 
			INSERT INTO goal (user_id,user_goal_date,user_goal_annualasset,user_goal_longterm,
			user_goal_motivationalgoal,user_goal_savingsrate,user_goal_savingsvolume,user_goal_desc)
			VALUES(@UserId,format(GETDATE(),'yyyyMMdd'),@UserAnnualAsset,@UserLongTermGoal,
			@UserMotivationalGoal,@UserSavingRate,@UserSavingsVolume,'Hope');
			SET @Return = 1;
		END
		ELSE 
		BEGIN
		  UPDATE goal SET  user_goal_date = format(GETDATE(),'yyyyMMdd'),
		                   user_goal_annualasset = @UserAnnualAsset,
						   user_goal_longterm = @UserLongTermGoal,
						   user_goal_motivationalgoal = @UserMotivationalGoal,
						   user_goal_savingsrate = @UserSavingRate,
					       user_goal_savingsvolume = @UserSavingsVolume
				where user_id = @UserId
		  SET @Return = 2;
		END
		COMMIT;
	SELECT @Return;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	SELECT @Return;
	RETURN @Return
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spSigninUser]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSigninUser]      
(      
@UserPassword VARCHAR(50),      
@UserEmail VARCHAR(40),      
@Return INT output,      
@UserID INT output,  
@Level VARCHAR(40) output,  
@UserName VARCHAR(40) output,
@IsAdmin VARCHAR(40) output  
)      
AS       
BEGIN      
 BEGIN TRY      
  BEGIN TRANSACTION      
  IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail)      
  BEGIN       
   IF EXISTS(SELECT 1 from Users where user_mail = @UserEmail and activated ='True')      
   BEGIN      
    SET @UserID = (Select user_id from Users WHERE  user_mail = @UserEmail AND user_password = @UserPassword);  
 SET @Level = (Select level from Users WHERE  user_mail = @UserEmail);  
 SET @UserName = (Select reg_user_name from Users WHERE  user_mail = @UserEmail);  
 SET @IsAdmin =  (Select is_admin from Users WHERE  user_mail = @UserEmail); 
 Select * from Users
    IF(@UserID is not null)      
    BEGIN      
     SET @Return = 1;      
    END      
    ELSE      
    BEGIN      
     SET @Return = 3;      
     SET @UserID = -1;   
    END      
   END      
   ELSE      
   BEGIN      
    SET @Return = 4;      
    SET @UserID = -1;      
   END      
  END      
  ELSE       
  BEGIN      
    SET @Return = 2;      
    SET @UserID = -1;      
  END      
  COMMIT;      
 RETURN @Return      
 END TRY      
      
 BEGIN CATCH      
 IF @@TRANCOUNT > 0      
 BEGIN      
   ROLLBACK      
 END;      
 EXECUTE [dbo].[spOnException]      
    SET @Return = 0;      
 RETURN @Return      
 END CATCH      
END   
  
  
GO
/****** Object:  StoredProcedure [dbo].[spSingleStock]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSingleStock]
(
@ISIN VARCHAR(50)
)
AS 
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

	
			Select st.stock_name as Name,st.ISIN as ISIN,st.ticker as Ticker,st.exchange as Exchange,ba.stock_basics_WKN as WKN,st.stock_waehrung as Currency,st.stock_score as SCORE,
			ba.stock_basics_industry as Industry,st.stock_Marktkap_rounded as Marketcap,st.stock_LJ as Lastannualreport,ba.stock_basics_quantity,
			ba.stock_basics_dividend,ba.stock_basics_performance_month, ba.stock_basics_performance_year,
			ba.stock_basics_description, ba.stock_basics_website,
			st.stock_RoE_LJ_percent,st.stock_EBIT_Marge_LJ_percent,st.stock_EK_Quote_LJ_percent,
			st.stock_KGV5,st.stock_KGV_akt,st.stock_Analystenanzahl,st.stock_Analystenmeinung,st.stock_Benchmark,
			st.stock_Entw6Mon_percent,st.stock_Entw1Jahr_percent,st.stock_Durchschnitt_EPS,st.stock_EPS_Steigerung_percent,
			st.stock_Punkte_RoE,st.stock_Punkte_EBIT_M,st.stock_Punkte_EK_Q,st.stock_Punkte_KGV5,st.stock_Punkte_KGVa,
			st.stock_Punkte_Analysten,st.stock_Punkte_Q_Zahlen,st.stock_Punkte_Revi,st.stock_Punkte_6_Mon,st.stock_Punkte_1_Jahr,
			st.stock_Punkte_3_Mon_Rev,st.stock_Punkte_Gew_Wachst
			from stock st left join basics ba 
			on st.ISIN = ba.ISIN and st.ISIN = @ISIN 

			--SELECT FORMAT(st.stock_score_date, '%Y-%m') AS Time, AVG(st.stock_score2) As AVG_Score FROM score_timeline st 
			--WHERE ISIN =  @ISIN GROUP BY st.stock_score_date

			
		COMMIT;
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spStockBookmark]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spStockBookmark]
(
@ISIN VARCHAR(50),
@UserId VARCHAR(40),
@Return INT output
)
AS 
BEGIN
	BEGIN TRY
	Select * from watch_stock
		BEGIN TRANSACTION
		IF EXISTS(SELECT 1 from watch_stock where user_id = @UserId and ISIN = @ISIN)
		BEGIN 
		    DELETE from watch_stock where user_id = @UserId and ISIN = @ISIN
			SET @Return = 0;
		END
		ELSE 
		BEGIN
			INSERT INTO watch_stock values(@UserId,@ISIN,GETDATE(),1);
			SET @Return = 1;
		END 
		COMMIT;
	SELECT @Return;
	RETURN @Return
	END TRY

	BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
	  ROLLBACK
	END;
	EXECUTE [dbo].[spOnException]
    SET @Return = 0;
	SELECT @Return;
	RETURN @Return
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spUlitstationByLevels]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUlitstationByLevels]               
AS                           
BEGIN                            
 BEGIN TRY               
        
  SELECT                  
TOP 1                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week1],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 0, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week2],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 1, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week3],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 2, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week4],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 3, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week5],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 4, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week6],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 5, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week7],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 6, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week8],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 7, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week9],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 8, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week10],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 9, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week11],                  
    DATEADD(WEEK, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) + 10, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)) AS [Week12]                  
FROM                  
    sys.objects                  
                            
Select SUM(work_schedule) as WeeklySupply,level  from Users where level is not null group by level    
Order by   
 Case level  
 WHEN 'FY24 Director' THEN 1  
    WHEN 'FY24 Manager' THEN 2  
    WHEN 'FY24 Principal' THEN 3  
    WHEN 'FY24 Senior Associate' THEN 4  
    WHEN 'FY24 Associate' THEN 5  
 ELSE 6  
END;  
    
Select level,start_date,end_date,consultant from ResourceEstimate order by level    
          
 END TRY                        
                
                         
 BEGIN CATCH                          
 IF @@TRANCOUNT > 0                          
 BEGIN                          
   ROLLBACK                          
 END;                          
 EXECUTE [dbo].[spOnException]                          
 END CATCH                          
END       
  
GO
/****** Object:  StoredProcedure [dbo].[spWorkDayAllocation]    Script Date: 27-06-2023 00:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spWorkDayAllocation] (    
@UserId int)                 
AS                   
BEGIN                    
 BEGIN TRY       
     
create table #TempUserWorkday    
(    
TotalMonthlyWorkDays decimal,    
MonthName varchar(60)  ,
ProjectStage nvarchar(60)
);    
     
  With CTE AS(        
SELECT res.id,res.consultant,res.start_Date,res.end_date,pd.project_stage,         
    DATENAME(month, DATEADD(month, number, start_date)) AS MonthName,res.project_id,working_days,working_days/(ABS(DATEDIFF(MONTH, start_date, end_date))+1) AS MonthlyWorkDays        
FROM ResourceEstimate  res
Inner join ProjectDetails pd on res.project_id = pd.project_id
CROSS APPLY (        
    SELECT number        
    FROM master..spt_values        
    WHERE type = 'P' AND number <= DATEDIFF(month, start_date, end_date)    
) AS Numbers        
)      
Insert INTO #TempUserWorkday    
Select SUM(MonthlyWorkDays) as TotalMonthlyWorkDays,MonthName as MonthName,project_stage as ProjectStage from CTE c     
Inner join Users usr on c.consultant= usr.reg_user_name     
Group by MonthName,usr.user_id,project_stage having usr.user_id = @UserId and c.project_stage = 'Won' order by MonthName ;    
    
Select * from #TempUserWorkday;    
    
With LeavesCTE AS(        
SELECT user_id,duration,start_Date,end_date,         
    DATENAME(month, DATEADD(month, number, start_date)) AS MonthName,duration/(ABS(DATEDIFF(MONTH, start_date, end_date))+1) AS MontlyLeave        
FROM Leaves         
CROSS APPLY (        
    SELECT number        
    FROM master..spt_values        
    WHERE type = 'P' AND number <= DATEDIFF(month, start_date, end_date)    
) AS Numbers        
)      
Select SUM(MontlyLeave) as TotalMonthlyWorkDays,user_id ,MonthName from LeavesCTE        
Group by MonthName,user_id having user_id =@UserId order by MonthName     
    
If(OBJECT_ID('#TempUserWorkday') Is Not Null)    
Begin    
    Drop Table #TempUserWorkday    
End    
    
                  
 END TRY                
        
                 
 BEGIN CATCH                  
 IF @@TRANCOUNT > 0                  
 BEGIN                  
   ROLLBACK                  
 END;                  
 EXECUTE [dbo].[spOnException]                  
 END CATCH                  
END     
GO
