<div class="card dashboard-link-list">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <div class="d-flex flex-row">
            <div class="w-40">
                <ul class="list-unstyled mb-0">
                    <li class="mb-1" >
                        Rol LY:              
                    </li>
                    <li class="mb-1" >
                        EBIT LY:              
                    </li>
                    <li class="mb-1" >
                        Equity ratio:              
                    </li>
                    <li class="mb-1" >
                        P/E 5Y:              
                    </li>
                    <li class="mb-1" >
                        P/E LY:              
                    </li>
                    <li class="mb-1" >
                        Analysts:              
                    </li>
                    <li class="mb-1" >
                        Analysts rating:              
                    </li>
                    <li class="mb-1" >
                        Benchmark:              
                    </li>
                    <li class="mb-1" >
                        Performance 6 Month:              
                    </li>
                    <li class="mb-1" >
                        Performance 1 Year:              
                    </li>
                    <li class="mb-1" >
                        Avg. EPS:              
                    </li>
                    <li class="mb-1" >
                        EPS Performance:              
                    </li>
                    
                </ul>
            </div>
            <div class="w-50">
                <ul class="list-unstyled mb-0">
                    <li class="mb-1" >
                       {{singleStockInfo.KpiRolLy}}%    
                    </li>
                    <li class="mb-1" >
                        {{singleStockInfo.KpiEBITLy}}%                     
                     </li>
                     <li class="mb-1" >
                        {{singleStockInfo.KpiEquityRation}}%    
                     </li>
                      <li class="mb-1" >
                        {{singleStockInfo.KpiPE5Y}}   
                     </li>
                     <li class="mb-1" >
                         {{singleStockInfo.KpiPELY}}                   
                      </li>
                      <li class="mb-1" >
                         {{singleStockInfo.KpiAnalyst}}  
                      </li>
                      <li class="mb-1" >
                          {{singleStockInfo.KpiAnalystRating}}                   
                       </li>
                       <li class="mb-1" >
                        {{singleStockInfo.KpiBenchmark}}    
                     </li>
                     <li class="mb-1" >
                         {{singleStockInfo.KpiPerf6Month}}%                     
                      </li>
                      <li class="mb-1" >
                         {{singleStockInfo.KpiPerf1Year}}%    
                      </li>
                      <li class="mb-1" >
                          {{singleStockInfo.KpiAvgEPS}}                    
                       </li>
                       <li class="mb-1" >
                        {{singleStockInfo.KpiEPSPerf}}%                     
                     </li>
                </ul>
            </div>
        </div>
    </div>
</div>