<div class="row">
    <div class="col-12">
      <div>
      </div>
  
      <div>
        <tabset class="separator-tabs">
  
          <tab heading="{{'pages.users' | translate | uppercase }}">
          <app-user-admin></app-user-admin>
          </tab>
  
          <!-- <tab heading="{{'pages.projects' | translate | uppercase }}">
            <app-projects-admin></app-projects-admin>
          </tab> -->
          <tab heading="{{'pages.system' | translate | uppercase }}">
            <app-system-admin></app-system-admin>
          </tab>
        </tabset>
      </div>
  
    </div>
  </div>
  